@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
:root {
  --brand: rgb(9, 0, 94);
  --enph: #373737;
  --white: #fff;
  --black: #000;

  --text-xs: 1.0rem;
  --text-sm: 1.4rem;
  --text-md: 1.6rem;
  --text-lg: 2.0rem;
  --text-xl: 2.8rem;
  --text-2xl: 4.0rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}


ul, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

